---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Devchallenges">
	<main>
		<h1>Devchallenges</h1>
		<p class="instructions">
			Responsive Web Developer
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				link="https://devchallenges.io/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fdevchallenges-1234.appspot.com%2Fo%2FchallengesDesigns%252F404PageThumbnail.png%3Falt%3Dmedia%26token%3D81f7c567-c0bc-446f-a549-07eeda31c5ef&w=750&q=75"
				demo="https://404-not-found-324.pages.dev/" code="https://github.com/brandovidal/404-not-found"
				title="404 Not found"
				body="This challenge is suitable for you if you just started with coding. The challenge will test your basic CSS and HTML skills. ðŸ‘¾" />
			<Card
				link="https://devchallenges.io/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fdevchallenges-1234.appspot.com%2Fo%2FchallengesDesigns%252FmyTeamThumbnail.png%3Falt%3Dmedia%26token%3D3dc1bba0-52b9-440d-8a54-fa31ec7c84d8&w=750&q=75"
				demo="https://my-team-page-a1o.pages.dev/" code="https://github.com/brandovidal/my-team-page"
				title="My team page"
				body="This challenge will test your basic CSS skills and get it to next level. You will work with basic HTML element to make a simple but yet elegant team page. ðŸš€" />
			<Card
				link="https://devchallenges.io/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fdevchallenges-1234.appspot.com%2Fo%2FchallengesDesigns%252FinteriorConsultantThumbnail.png%3Falt%3Dmedia%26token%3Dfb5f8229-8eb9-4d70-b0d4-fbd2829a0cf0&w=750&q=75"
				demo="https://interior-consultant.pages.dev/" code="https://github.com/brandovidal/interior-consultant"
				title="Interior Consultant"
				body="Your challenge is to create a simple interior consultant homepage. This challenge will test your skill in styling navigation and positioning. âš’ï¸" />
			<Card
				link="https://devchallenges.io/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fdevchallenges-1234.appspot.com%2Fo%2FchallengesDesigns%252FrecipeBlogThumbnail.png%3Falt%3Dmedia%26token%3D2d696d3c-a8cb-4c7c-907b-561ae1144cc9&w=750&q=75"
				demo="https://recipe-page.pages.dev/" code="https://github.com/brandovidal/recipe-page"
				title="Recipe page"
				body="Everyone loves food, especially cheesecake. In this challenge, you will work with a recipe of your choice or given one. ðŸŽ®" />
			<Card
				link="https://devchallenges.io/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fdevchallenges-1234.appspot.com%2Fo%2FchallengesDesigns%252FGalleryThumbnail.png%3Falt%3Dmedia%26token%3D92894792-41d1-4d99-8cbb-e828322c87fd&w=750&q=75"
				demo="https://ultra-baseball.surge.sh/" code="https://github.com/brandovidal/my-gallery-page"
				title="My Gallery"
				body="Inspired by instagram, in this challenge you will work with a similar design to instagram profile page. â¤ï¸" />
		</ul>
	</main>
</Layout>

<style>
	:root {
		--bg-gradient: linear-gradient(90deg, #100e1d, #bdbdbc);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 65ch;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background-image: var(--bg-gradient);
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
		background-position-y: 100%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1.5em;
		padding: 0;
	}
</style>