---
export interface Props {
	title: string;
	body: string;
	href: string;
}
const { href, title, body } = Astro.props;
---

<li class="link-card">
	<picture><img src="https://picsum.photos/id/532/584/434" alt="Photo" /></picture>
	<article>
		<h2>{title}</h2>
		<p>{body}</p>
		<a class="link-primary" href={href}>Demo</a>
		<a class="link-outline" href={href}>Code</a>
	</article>
</li>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
		--border-radius-md: 0.5rem;
	}

	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border: none;
		border-radius: 0.5rem;
		background-position: 100%;
		background: #ffffff;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:hover {
		cursor: auto;
		box-shadow: 0 0 2em rgba(51, 51, 51, 0.2), -10px -10px 30px rgba(51, 51, 51, 0.2);
	}

	.link-card picture {
		width: 100%;
		height: 100%;
		border-radius: var(--border-radius-md);
		object-fit: cover;
		object-position: center;
	}

	.link-card>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border: none;
		border-radius: 0.35rem;
		color: var(--text-color);
		background-color: white;
		opacity: 0.8;
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}
</style>